[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
nbconvert = "*"
pandas = "*"
lxml = "*"
saxonche = "*"


[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.12"